.tituloItem{
    font-size: 2rem;
}

.descripcionTituloItem{
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
}
.descripcionItem{
    font-size: 0.8rem;
    text-align: justify;
}


.precioItem{
    font-size: 2rem;
    color: red !important;
}

.fotoItem{
    width:400px;
    height:400px;
}

.itemDetailTarjeta{
    margin-top: 2rem;
    width: 1200px;
}

.cont-Botones{
    height: 5.5rem;
    padding-top: 1rem;
}