.titulo{
    font-size: 0.8rem;
    text-transform:lowercase;    
}

.titulo:first-letter { text-transform: uppercase; }

.fotoList{
    width: 20rem; 
    height: 20rem; 
}
.tarjetaItem{
   margin-bottom: 10px;  
   width: 25rem;
}

.tarjetaBoton{
    margin: 10px;    
 }

 
.tarjetaBoton:hover{
    background-color: darkgray;
 }

 .precioItem{
     color:red !important;  
     font-size:1.5rem !important;
 }

 .estadoNuevo{
    color:green !important;  
    font-size:1.5rem !important;
}
.estadoUsado{
    color:blue !important;  
    font-size:1.5rem !important;
}