body {
  
  font-family: "Montserrat", sans-serif;
  
}

a{
  text-decoration: none;
  color: black;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 0;
  flex: 1 100%;
}

.header {
  background: ghostwhite;
}

.footer {
  background:black;
  margin-top: 1rem; 
}


.main {
  text-align: left;
  background: white;
}

 

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
 